<section class="container border mt-5 bg-light text-dark">
    <div class="row">
        <div class="col-9"><h2 >All users</h2></div>
        
        <div class="col-3 text-right"><a class="btn btn-success" routerLink="newuser">Add New User</a></div>

    </div>
    <table class="table table-striped ">
        <thead >
            <tr>
                <th scope="col">#</th>
                <th scope="col">name</th>
                <th scope="col">age</th>
                <th scope="col">password</th>
                <th scope="col">email</th>
                <th scope="col">actions</th>
            </tr>
        </thead>
        <tbody >
            <tr *ngFor='let user of users' class="border">
                <th scope="row" class="border"><a routerLink="{{user._id}}">{{user._id}}</a></th>
                <td class="border">{{user.name}}</td>
                <td class="border">{{user.age}}</td>
                <td class="border">{{user.password}}</td>
                <td class="border">{{user.email}}</td>
                <td class="border">
                    <a routerLink="edit/{{user._id}}" class="btn btn-success m-1">Edit</a>
                    <button class="btn btn-danger" (click)="deleteUser(user._id)">Delete</button>
                    <a routerLink="newcontact/{{user._id}}" class="btn btn-success m-1">Add Contact</a>
                </td>
            </tr>
        </tbody>
    </table>
</section>